<h1><span class="glyphicon glyphicon-user"></span> Customers</h1>
<ul class="customer-operation">
  <li id="cardsView" (click)="viewChanger($event)" style="color: black;"><span class="glyphicon glyphicon-th-large"></span> Cards</li>
  <li id="listView" (click)="viewChanger($event)"><span class="glyphicon glyphicon-list"></span> List</li>
  <li id="mapView" (click)="viewChanger($event)"><span class="glyphicon glyphicon-map-marker"></span> Map</li>
  <li id="addCustomerView" (click)="addCustomer($event)"><span class="glyphicon glyphicon-plus"></span> New Customer
  </li>
</ul>
<div class="filter">
  <p>Filter:</p>
  <input type="text" (keyup)="onKey($event)" autocomplete="filter-cards" />
</div>

<ng-container>
  <div *ngIf="showCards">
    <mat-grid-list [cols]="breakpoint" rowHeight="3:2" (window:resize)="onResize($event)" [gutterSize]="'10px'">
      <mat-grid-tile *ngFor="let items of pagedList">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{items.first_name}} {{items.last_name}}</mat-card-title>
            <a><span class="glyphicon glyphicon-edit"></span></a>
          </mat-card-header>
          <mat-card-content>
            <div mat-card-avatar class="avatarImage">
              <img *ngIf="items.gender === 'Male'" src="../../assets/images/male.png" alt="male" />
              <img *ngIf="items.gender === 'Female'" src="../../assets/images/female.png" alt="female" />
            </div>
            <div class="user-details">
              <p>{{items.city}},</p>
              <p>{{items.state}}</p>
              <a (click)="navigateToOrder(items.id)">View Orders</a>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-paginator [length]="length" [pageSize]="pageSize" (page)="pageEvent = OnPageChange($event)" showFirstLastButtons>
    </mat-paginator>
  </div>
  <div *ngIf="showList" class="mat-elevation-z8">
    <table mat-table [dataSource]="listItem" matSort (matSortChange)="sortColumn($event)">
      <!-- Image Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element">
          <img *ngIf="element.gender === 'Male'" src="../../assets/images/male.png" alt="male" />
          <img *ngIf="element.gender === 'Female'" src="../../assets/images/female.png" alt="female" />
        </td>
      </ng-container>

      <!-- First Name Column -->
      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
      </ng-container>

      <!-- Last Name Column -->
      <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
      </ng-container>

      <!-- Address Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>

      <!-- City Column -->
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
        <td mat-cell *matCellDef="let element"> {{element.city}} </td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
        <td mat-cell *matCellDef="let element"> {{element.state}} </td>
      </ng-container>

      <!-- Orders Column -->
      <ng-container matColumnDef="orders_total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Total</th>
        <td mat-cell *matCellDef="let element"> {{element.orders_total}} </td>
      </ng-container>

      <!-- Orders Link Column -->
      <ng-container matColumnDef="orders_link">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element"><a (click)="navigateToOrder(element.id)">View Orders</a> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="resultLength" [pageSize]="5" showFirstLastButtons
      (page)="pageEvent = ListingPageChange($event)"></mat-paginator>
  </div>

  <div *ngIf="addCustomerView" class="signup">
    <form [formGroup]="addCustomerForm" (ngSubmit)="saveCustomer()" class="form-horizontal">
      <!--saveCustomer is the callback function, emits an ngSubmit event to a callback function -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Add Customer!</h3>
        </div>

        <div class="panel-body">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="first_name">First Name</label>
            <div class="col-sm-10">
              <input id="first_name" formControlName="first_name" type="text" class="form-control"
                autocomplete="first_name" placeholder="Mark">
              <span class="help-block" *ngIf="addCustomerForm.get('first_name').errors &&
                     ( addCustomerForm.get('first_name').touched ||addCustomerForm.get('first_name').dirty)">
                <span *ngIf="addCustomerForm.get('first_name').errors.required">
                  First Name is required
                </span>
                <span *ngIf="addCustomerForm.get('first_name').errors.pattern">
                  Blank & number not allowed
                </span><br />
                <span
                  *ngIf="addCustomerForm.get('first_name').errors.minlength || addCustomerForm.get('first_name').errors.maxlength">
                  First Name must be greater than 4 characters and less than 15 characters
                </span>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="last_name">Last Name</label>
            <div class="col-sm-10">
              <input id="last_name" formControlName="last_name" type="text" class="form-control"
                autocomplete="last_name" placeholder="Henry">
              <span class="help-block" *ngIf="addCustomerForm.get('last_name').errors &&
                     ( addCustomerForm.get('last_name').touched ||addCustomerForm.get('last_name').dirty)">
                <span *ngIf="addCustomerForm.get('last_name').errors.required">
                  Last Name is required
                </span><br />
                <span *ngIf="addCustomerForm.get('last_name').errors.pattern">
                  Blank & number not allowed
                </span><br />
                <span
                  *ngIf="addCustomerForm.get('last_name').errors.minlength || addCustomerForm.get('last_name').errors.maxlength">
                  Last Name must be greater than 4 characters and less than 15 characters
                </span>
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="address">Address</label>
            <div class="col-sm-10">
              <input id="address" formControlName="address" type="text" class="form-control" autocomplete="address"
                placeholder="61 Park Street, Camden, ME, 04843, US">
              <div *ngIf="fieldValues.address.invalid && (fieldValues.address.dirty || fieldValues.address.touched)"
                class="help-block">
                <div *ngIf="fieldValues.address.errors.required">Address is required.</div>
                <div *ngIf="fieldValues.address.errors.minlength">Minimum length 10 characters</div>
                <div *ngIf="fieldValues.address.errors.maxlength">Maximum length 50 characters.</div>
                <div *ngIf="addCustomerForm.get('address').hasError('pattern')" class="help-block">
                  <span>Address not valid</span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="pass">City</label>
            <div class="col-sm-10">
              <input class="form-control" id="city" formControlName="city" type="text" autocomplete="city"
                placeholder="Miami">
              <span class="help-block" *ngIf="addCustomerForm.get('city').errors &&
                     ( addCustomerForm.get('city').touched ||addCustomerForm.get('city').dirty)">
                <span *ngIf="addCustomerForm.get('city').errors.required">
                  City is required
                </span><br />
                <span *ngIf="addCustomerForm.get('city').errors.pattern">
                  City name not valid
                </span><br />
                <span
                  *ngIf="addCustomerForm.get('city').errors.minlength || addCustomerForm.get('city').errors.maxlength">
                  City must be greater than 4 characters and less than 15 characters
                </span>
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="pass">State</label>
            <div class="col-sm-10">
              <input class="form-control" id="state" formControlName="state" type="text" autocomplete="state"
                placeholder="Miami">
              <span class="help-block" *ngIf="addCustomerForm.get('state').errors &&
                     ( addCustomerForm.get('state').touched ||addCustomerForm.get('state').dirty)">
                <span *ngIf="addCustomerForm.get('state').errors.required">
                  State is required
                </span><br />
                <span *ngIf="addCustomerForm.get('state').errors.pattern">
                  State name not valid
                </span><br />
                <span
                  *ngIf="addCustomerForm.get('state').errors.minlength || addCustomerForm.get('state').errors.maxlength">
                  State must be greater than 4 characters and less than 15 characters
                </span>
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label gender">Gender</label>
            <div class="col-sm-10">
              <label class="radio-inline">
                <input id="male" type="radio" value="Male" formControlName="gender">Male
              </label>

              <label class="radio-inline">
                <input id="female" type="radio" value="Female" formControlName="gender">Female
              </label>

            </div>
          </div>
          <div class="form-group">
              <div class="col-sm-2">
                 <!--button disabled until form is valid-->
                <button class="btn btn-primary" type="submit" [disabled]="!addCustomerForm.valid">Add Customer</button>
              </div>
            </div>
        </div>
      </div>
    </form>
  </div>
</ng-container>